html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* For modern browsers */
.cf:before,
.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom: 1;
}


html {
	overflow-y: scroll;
	overflow-x: hidden;
}

/* scrolling bug fix */
/* html.scrolling
 {
	 height: 103%; 
	
 } */


/*
 * Bebas font from http://flat-it.com/
 */

@font-face {
	font-family: 'Bebas';
	src: url('fonts/BEBAS___-webfont.eot');
	src: url('fonts/BEBAS___-webfontd41d.eot?#iefix') format('embedded-opentype'),
		url('fonts/BEBAS___-webfont.woff') format('woff'),
		url('fonts/BEBAS___-webfont.ttf') format('truetype'),
		url('fonts/BEBAS___-webfont.svg#Bebas') format('svg');
	font-weight: normal;
	font-style: normal;

}

body {
	background: url('images/ribbons4.png') top left no-repeat, url('images/ribbonsbottom.png') bottom right no-repeat fixed, url('images/bgdark.png') repeat-x #111;
	/* background: url('images/splat02.png') top right no-repeat #111; */
	/* background: url('images/diamond.png'); */
	/* background: url('images/bubbles.png'); */
	/* background: url('images/crosses.png'); */
	/* background: url('images/squares.png') bottom right no-repeat #111 fixed; */
	color: #fff;
	font-family: 'Trebuchet MS', arial, sans-serif;
	font-size: 14px;
	height: 103%;
}

.no-multiplebgs body {
	background: #111 url('images/ribbons4.png') top left no-repeat;
	/* remove this if not using ribbons background */
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bebas', arial, sans-serif;
	margin-bottom: 21px;
}

h1 {
	font-size: 40px;
	line-height: 63px;
}

h2 {
	font-size: 30px;
	line-height: 42px;
}

h3 {
	font-size: 24px;
	line-height: 42px;
}

h4 {
	font-size: 18px;
	line-height: 21px;
}

p {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 21px;
}

small {
	font-size: 12px;
}

ul,
ol {
	margin-bottom: 21px;
	line-height: 21px;
}

ul li,
ol li {
	margin-bottom: 21px;
}

ul li,
ol li {
	margin-left: -5px;
	padding-left: 20px;
}

ol.number {
	list-style: decimal;
	font-family: 'Bebas', sans-serif;
}

ol.number li span {
	font-family: 'Trebuchet MS', arial, sans-serif;
}

ul.bullet {
	list-style: disc;
}

ul.bullet li,
ol.number li {
	margin-left: 15px;
	padding-left: 0;
}

ul.tick li {
	background: url('images/tick.png') no-repeat;
}

ul.cross li {
	background: url('images/cross.png') no-repeat;
}

ul.education li {
	background: url('images/education.png') no-repeat;
}

ul.employment li {
	background: url('images/employment.png') no-repeat;
}

.copyrights {
	text-indent: -9999px;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

p.tagline {
	font-size: 20px;
	line-height: 30px;
	color: #ccc;
	margin-top: -20px;
	margin-bottom: 31px;
}

.backgroundNumber {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
}

.bottomSection {
	margin-bottom: 42px;
}

.backgroundNumber h1 {
	color: #555;
	margin: 0;
	opacity: 0.4;
	font-size: 140px;
	text-align: center;

}

span.dark {

	color: #888;

}

.center {

	text-align: center;
}





.oneWide {
	width: 181px;
}

.oneHigh {
	height: 181px;
}

.twoWide {
	width: 374px;
}

.twoHigh {
	height: 374px;
}

.threeWide {
	width: 567px;
}

.threeHigh {
	height: 567px;
}

.fourWide {
	width: 760px;
}

.fourHigh {
	height: 760px;
}

.unit {
	padding: 6px;
	float: left;
	border-radius: 20px;
}

.unit img {
	border-radius: 20px;
}

.info .content img {
	border-radius: 0;
}

.item {
	cursor: pointer;
}

.item.open {
	cursor: auto;
	height: auto;

}

.item .content {
	display: none;
}

.item.open .content {
	display: block;

}

.item.open .backdrop {
	display: none;
}

.item .backdrop {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
}

.item.loading {
	cursor: progress;
}

.item.loading .backdrop {
	opacity: 0.5;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.item.open.video .content {
	background: #000;
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes rotation {
	0% {
		-moz-transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
	}
}

@-ms-keyframes rotation {
	0% {
		-ms-transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(360deg);
	}
}

@keyframes rotation {
	0% {
		-ms-transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(360deg);
	}
}

.item .loader {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 50%;
	top: 50%;
	margin-left: -16px;
	margin-top: -16px;
	z-index: 5;
	background: url('images/spin.png') center center no-repeat;

	-webkit-animation: rotation 2s linear infinite;
	-moz-animation: rotation 2s linear infinite;
	-o-animation: rotation 2s linear infinite;
	-ms-animation: rotation 2s linear infinite;
	animation: rotation 2s linear infinite;
}


/* Ribbon styles */

.item .ribbonHead,
.item .ribbonTag {
	display: inline-block;
	zoom: 1;
	*display: inline;
	/* IE7 fix for inline-block. IE6 is dead to me */
	position: absolute;

}

.item .ribbonHead h4,
.item .ribbonTag h5 {
	background: #1B91E0;
	display: inline-block;
	zoom: 1;
	*display: inline;
	/* IE7 fix for inline-block. IE6 is dead to me */
	position: relative;
	z-index: 4;
	box-shadow: 0px 1px rgba(0, 0, 0, 0.4);
}

.item .ribbonBack {
	width: 10px;
	position: absolute;
	z-index: -1;
}

.item .ribbonBack:before,
.item .ribbonBack:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border-width: 6px;
	border-style: solid;
}

.item .ribbonHead {
	top: 15px;
	left: 0;
}

.item .ribbonHead h4 {
	left: -103%;
	padding: 14px;
	padding-right: 18px;
	font-family: "Bebas", arial, sans-serif;
	font-size: 22px;
	margin-bottom: 0;
	border-radius: 0 25px 25px 0;
}

.item:hover .ribbonHead h4,
.item.loading .ribbonHead h4,
.item.video.hovered .ribbonHead h4 {
	left: 0;
}

.item .ribbonHead .ribbonBack {
	top: 12px;
	bottom: -6px;
	left: 6px;
}

.item:hover .ribbonHead .ribbonBack,
.item.loading .ribbonHead .ribbonBack,
.item.video.hovered .ribbonHead .ribbonBack {
	top: 6px;
	bottom: 0px;
	left: 0;
}

.item .ribbonHead .ribbonBack:after {
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	top: 100%;
}

.item .ribbonHead .ribbonBack:before {
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	top: -6px;
}


.item .ribbonTag {
	bottom: 15px;
	right: 0;
}

.item .ribbonTag h5 {
	font-family: 'Trebuchet MS', arial, sans-serif;
	right: -101%;
	text-align: right;
	font-size: 12px;
	padding: 10px;
	padding-left: 12px;
	margin: 0;
	border-radius: 16px 0 0 16px;
}

.item:hover .ribbonTag h5,
.item.loading .ribbonTag h5,
.item.video.hovered .ribbonTag h5 {
	right: 0;
}

.item .ribbonTag .ribbonBack {
	top: -6px;
	right: 6px;
	bottom: 12px;
	background: #1A71AB;


}

.item:hover .ribbonTag .ribbonBack,
.item.loading .ribbonTag .ribbonBack,
.item.video.hovered .ribbonTag .ribbonBack {
	top: 0;
	right: 0;
	bottom: 6px;


}

.item .ribbonTag .ribbonBack:before {
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	top: -12px;
	right: 0;
}

.item .ribbonTag .ribbonBack:after {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	bottom: -6px;
	right: 0;
}

.item .ribbonCaption {
	display: none;
}

.item .ribbonCaption h5 {
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	padding: 10px;
}

.item .ribbonCaption h5.includesLink {
	padding-right: 62px;
}

.item.video .ribbonCaption {
	width: 100%;
}

.item.video .ribbonCaption h5 {
	display: block;
}

.item.video .ribbonCaption.ribbonBack {
	width: 10px;
}

/*
 * jQuery UI Slider 1.8.18
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.seek {
	margin-left: 18px;
}

.playpause {
	height: 12px;
	width: 12px;
	background: url('images/playpause.png');
	position: absolute;
	left: 10px;
	bottom: 8px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	cursor: pointer;
}

.playpause.playing {
	background-position: 0 12px;
}

.playpause:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}


.ui-slider {
	position: relative;
	text-align: left;
	background: url('images/whitetransparent.png');
	margin-top: 16px;
	cursor: pointer;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 4px;
	height: 8px;
	background: #aaa;
	cursor: pointer;
	outline: none;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	height: 5px;
	background: #eee;
	display: block;
	border: 0;
	background-position: 0 0;
}

.ui-slider-horizontal {
	height: 8px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: 0;
	margin-left: 0;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.item.open .ribbonTag {
	display: none;
}

.item.open .ribbonCaption {
	display: inline-block;
	zoom: 1;
	*display: inline;
	/* IE7 fix for inline-block. IE6 is dead to me */
}

.item.open .ribbonCaption a.projectLink {
	width: 42px;
	height: 42px;
	position: absolute;
	top: 50%;
	margin-top: -21px;
	right: 10px;
	background: url('images/link.png') center bottom no-repeat;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.item.open .ribbonCaption a.projectLink:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}



/* Ribbon transitions */
.item .ribbonHead h4,
.item:hover .ribbonHead h4,
.item .ribbonTag h5,
.item :hover .ribbonTag h5,
.item .ribbonBack,
.item:hover .ribbonBack {
	-webkit-transition-property: left, top;
	-moz-transition-property: left, top;
	-ms-transition-property: left, top;
	-o-transition-property: left, top;
	transition-property: left, top;
}

.item .ribbonHead h4,
.item:hover .ribbonHead h4,
.item .ribbonTag h5,
.item :hover .ribbonTag h5 {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.item .ribbonBack,
.item:hover .ribbonBack {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.item .ribbonBack {
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ie-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.item:hover .ribbonHead h4,
.item:hover .ribbonTag h5 {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-ie-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


/* ---- */


.item {
	position: relative;
	overflow: hidden;
}


#container {
	width: 965px;
	margin: 0 auto;

	position: relative;

	padding: 20px;
	padding-top: 0;
	padding-bottom: 60px;

}

#container:before {
	content: "";
	display: block;
	/* background: url('images/blacktransparent.png');
	border: 2px solid #222;
	border-bottom: 12px solid #222; */
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: 0 0 500px 500px;

}

#overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.95;
	z-index: 100;
	display: none;
	cursor: pointer;

}

#lightbulb {
	position: absolute;
	width: 16px;
	height: 24px;
	display: none;
	background: url('images/lightbulb.png') no-repeat;
	z-index: 200;
}


#logo {
	position: absolute;
	left: 0;
	right: 0;
	top: 30px;
	height: 230px;
	background: url('images/profile.png') center 0 no-repeat;
	z-index: 2;
}

#nav {
	font-family: 'Trebuchet MS', arial, sans-serif;
	text-transform: uppercase;
	font-size: 0;
	height: 610px;
}


#nav ul.filter {
	text-align: center;
	margin-top: -32px;
}


#nav ul.filter li {
	width: 18px;
	font-size: 18px;
	background: #ccc;
	padding: 10px;
	margin: 0 5px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	/* IE7 fix for inline-block. IE6 is dead to me */
	height: 525px;
	position: relative;
	z-index: 0;
	cursor: pointer;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;

	border-radius: 0 0 19px 19px;
}


#nav ul.filter li:hover {
	margin-bottom: -25px;
	height: 525px;

}


#nav ul.filter li.selected {
	margin-bottom: -75px;
	height: 575px;

}

#nav ul.filter li a {
	color: #fff;
	text-decoration: none;
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;

	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform: 0 0;

	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

}

.no-csstransforms #nav ul.filter li a {

	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.no-csstransforms #nav ul.filter li a span {
	margin-bottom: 100%;
	display: block;
}

#social {
	height: 25px;
	padding-top: 12px;
}



#social ul.social li {
	background: url('images/socialspritelight.png') no-repeat;
	width: 25px;
	height: 25px;
	margin: 0;
	margin-left: 6px;
	padding: 0;
	float: right;
	cursor: pointer;
}

#social ul.social li a {
	display: block;
	width: 25px;
	height: 25px;
}

ul.social li#youtube {
	background-position: -50px -0px;
}

ul.social li#youtube:hover {
	background-position: -75px -0px;
}

ul.social li#facebook {
	background-position: -25px -25px;
}

ul.social li#facebook:hover {
	background-position: -75px -25px;
}

ul.social li#twitter {
	background-position: -50px -50px;
}

ul.social li#twitter:hover {
	background-position: -25px -50px;
}

ul.social li#flickr {
	background-position: -75px -75px;
}

ul.social li#flickr:hover {
	background-position: -75px -50px;
}

ul.social li#vimeo {
	background-position: -25px -75px;
}

ul.social li#vimeo:hover {
	background-position: -0px -25px;
}

ul.social li#delicious {
	background-position: -0px -0px;
}

ul.social li#delicious:hover {
	background-position: -50px -25px;
}

ul.social li#deviantart {
	background-position: -50px -75px;
}

ul.social li#deviantart:hover {
	background-position: -25px -100px;
}

ul.social li#stumbleupon {
	background-position: -25px -0px;
}

ul.social li#stumbleupon:hover {
	background-position: -0px -75px;
}

ul.social li#soundcloud {
	background-position: -0px -50px;
}

ul.social li#soundcloud:hover {
	background-position: -0px -100px;
}

.item.open {
	width: auto;
	height: auto;
}


.item.info {
	background: rgba(228, 241, 240, 0.322);
	padding: 0;
	margin: 6px;
	border-radius: 90px;
}

.item.open img {
	cursor: pointer;
}

.item.open.info img {
	cursor: auto;
}

.item.info.open {
	background: none;
	border-top: 3px solid #AC2B94;
	border-bottom: 3px solid #AC2B94;
	padding-bottom: 10px;
	border-radius: 20px;
	/* background: url('images/blacktransparent.png');
	 */
	background: rgba(0, 0, 0, 0.4);
	-webkit-transition: border-radius 0.4s;

}

.passawerd {
	background: none;
	padding-bottom: 10px;
	border-radius: 20px;
	/* background: url('images/blacktransparent.png');
	 */
	/* background: rgba(0,0,0,0.4); */
	-webkit-transition: border-radius 0.4s;
	width: 567px;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
}

.passawerd p {
	font-size: 30px;
	color: #fff;
	text-align: center;
	margin-top: 300px;
}

.passawerd input {
	width: 400px;
	height: 30px;
	margin: 50px auto;
	background: none;
	font-size: 20px;
	color: #fff;
	display: block;
}

.passawerd button {
	width: 80px;
	height: 40px;
	display: block;
	margin: 0 auto;
	background: none;
	font-size: 16px;
	color: #fff;
}

.visibility {
	visibility: hidden;
}

.item.info h4.infoHeader {
	font-size: 25px;
	z-index: 1;
	background: none;
	position: relative;
	text-align: center;
	line-height: 181px;
	-webkit-transition: font-size 0.4s;
	-moz-transition: font-size 0.4s;
	-o-transition: font-size 0.4s;
	-ms-transition: font-size 0.4s;
	transition: font-size 0.4s;

}

.item.info:hover h4.infoHeader {
	font-size: 30px;

}

.item.info.open h4.infoHeader {
	color: #555;
	opacity: 0.4;
	font-size: 150px;
	line-height: 10px;
	z-index: -1;
}

.item.info.open .content .bottomRight {
	display: inline-block;
	zoom: 1;
	*display: inline;
	/* IE7 fix for inline-block. IE6 is dead to me */
	width: 161px;
	position: absolute;
	bottom: 0;
	right: 20px;
	padding: 0;
	text-align: right;
}


.item.info.open .content .column,
.item.info.open .content .column-two,
.item.info.open .content .column-three,
.item.info.open .content .column-four,
.item.info.open .content .column-five {
	display: block;
	float: left;
	padding: 0 20px;
	margin-right: 12px;
	position: relative;
}

pre span {
	color: #98c379;
}

.item.info.open .content .column.last,
.item.info.open .content .column-two.last,
.item.info.open .content .column-three.last,
.item.info.open .content .column-four.last,
.item.info.open .content .column-five.last {
	margin-left: 0;
	margin-right: 0;
}

.item.info.open .content .column.empty,
.item.info.open .content .column-two.empty,
.item.info.open .content .column-three.empty,
.item.info.open .content .column-four.empty,
.item.info.open .content .column-five.empty {
	height: 1px;
}

.column.marginBottom,
.column-two.marginBottom,
.column-three.marginBottom,
.column-four.marginBottom,
.column-five.marginBottom {
	margin-bottom: 21px;
}

.item.info.open .content .column {
	width: 141px;
}

.item.info.open .content .column img {
	width: 141px;
	/* height: 138px; */
}

.item.info.open .content .column .rightImg {
	width: 200px;

}

.item.info.open .content .column-two {
	width: 334px;
}

.item.info.open .content .column-three {
	width: 527px;
}

.item.info.open .content .column-four {
	width: 720px;
}

.item.info.open .content .column-five {
	width: 913px;
}

/* all */
#nav ul li#all {
	background: #fff;
}

#nav ul li#all a {
	color: #111;
}

/* illustration */
#nav ul li#illustration {
	background: #7b3bdc;
}

#nav ul li a#illustration:hover,
#nav ul li.selected a#illustration {
	color: #7b3bdc;
}

.item.illustration .ribbonHead h4,
.item.illustration .ribbonTag h5 {
	background: #7b3bdc;
}

.item.illustration .ribbonBack {
	background: #4E248F;
}

.item.illustration .ribbonHead .ribbonBack:after {
	border-top-color: #4E248F;
}

.item.illustration .ribbonHead .ribbonBack:before {
	border-left-color: #4E248F;
}

.item.illustration .ribbonTag .ribbonBack:after {
	border-right-color: #4E248F;
}

.item.illustration .ribbonTag .ribbonBack:before {
	border-bottom-color: #4E248F;
}


/* photography */
#nav ul li#photography {
	background: #C93E3E;
}

#nav ul li a#photography:hover,
#nav ul li.selected a#photography {
	color: #C93E3E;
}

.item.photography .ribbonHead h4,
.item.photography .ribbonTag h5 {
	background: #C93E3E;
}

.item.photography .ribbonBack {
	background: #992E2E;
}

.item.photography .ribbonHead .ribbonBack:after {
	border-top-color: #992E2E;
}

.item.photography .ribbonHead .ribbonBack:before {
	border-left-color: #992E2E;
}

.item.photography .ribbonTag .ribbonBack:after {
	border-right-color: #992E2E;
}

.item.photography .ribbonTag .ribbonBack:before {
	border-bottom-color: #992E2E;
}


/* info */
#nav ul li#info {
	background: #ac2b94;
}

#nav ul li a#info:hover,
#nav ul li.selected a#info {
	color: #ac2b94;
}

.item.info span,
.item.info h4 {}

.item.info .overlay,
.item.big .content {
	border-color: #ac2b94;
}

/* video */

#nav ul li#video {
	background: #d71c62;
}

#nav ul li a#video:hover,
#nav ul li.selected a#video {
	color: #d71c62;
}

.item.video .ribbonHead h4,
.item.video .ribbonTag h5 {
	background: #d71c62;
}

.item.video .ribbonBack {
	background: #a9154d;
}

.item.video .ribbonHead .ribbonBack:after {
	border-top-color: #a9154d;
}

.item.video .ribbonHead .ribbonBack:before {
	border-left-color: #a9154d;
}

.item.video .ribbonTag .ribbonBack:after {
	border-right-color: #a9154d;
}

.item.video .ribbonTag .ribbonBack:before {
	border-bottom-color: #a9154d;
}




ul#contactDetails li {
	margin-bottom: 21px;
	text-align: center;
}

/**** Isotope filtering ****/

.isotope-item {
	z-index: 2;
	/*-webkit-transform-style: preserve-3d;  prevents flickering in Chrome/Safari */
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	-ms-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: top, left, opacity;
	-moz-transition-property: top, left, opacity;
	-ms-transition-property: top, left, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: top, left, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

/* Specific module styles */

.open#features {
	width: 567px;
	/* three wide */
}

.open#features #featuresIntro {
	text-align: center;
}

.open#hello {
	width: 567px;
	height: 155px;
}

.open#who {
	width: 567px;
}

.open#contact {
	width: 374px;
}

.open#backgrounds {
	width: 567px;
}

.open#profile {
	width: 567px;
}

.open#contact h2 {
	text-align: center;
}

.open#typography {
	width: 953px;
}





.lightsOff {
	z-index: 101;
}

.item.open.lightsOff img {
	cursor: auto;
}



main {
	margin-bottom: 40px;
}

main div.blog-content-box {
	position: relative;
	padding: 0 24px 16px;
	background: #fff;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

main div.blog-content-box .article-header-box {
	border-bottom: 1px solid #e0e0e0;
	padding-top: 16px;
	z-index: 9;
	background-color: #fff;
}

main div.blog-content-box .article-header-box .jump_article {
	display: none;
}

main div.blog-content-box .article-header-box .jump_article .related-article {
	margin-bottom: 12px;
	height: 26px;
	line-height: 26px;
}

main div.blog-content-box .article-header-box .jump_article .related-article a {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 26px;
	font-weight: bold;
}

main div.blog-content-box .article-header-box .jump_article .related-article a span {
	margin-right: 14px;
	padding: 4px 6px;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px
}

main div.blog-content-box .article-header-box .article-header div.article-title-box {
	margin-bottom: 8px;
}

main div.blog-content-box .article-header-box .article-header div.article-title-box span.article-type {
	margin-right: 8px;
	margin-top: 4px
}

main div.blog-content-box .article-header-box .article-header div.article-title-box .title-article {
	font-size: 24px;
	word-wrap: break-word
}

main div.blog-content-box .article-header-box .article-header div.article-info-box {
	padding-bottom: 14px;
	position: relative;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top {
	color: #858585;
	width: 88%;
	height: 24px;
	overflow: hidden;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .follow-nickName {
	color: #78a5f1;
	margin-right: 14px
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top span {
	margin-right: 14px;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top span.c-purple {
	color: #7c79e5
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top span.c-gray {
	color: #858585
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top span.c-red {
	color: #ca0c16
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top div.float-right {
	margin-left: auto
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .tags-box {
	margin-bottom: 8px;
	font-size: 12px;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .tags-box.artic-tag-box a.tag-link {
	margin-right: 8px;
	padding: 0 8px;
	height: 21px;
	min-width: 24px;
	line-height: 21px;
	border: 1px solid #ccc;
	border-radius: 100px;
	color: #4d4d4d;
	text-align: center;
	margin-bottom: 4px;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .tags-box.artic-tag-box a.tag-link:hover {
	border-color: #ca0c16;
	color: #ca0c16
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .tags-box:last-child {
	margin-bottom: 0
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .tags-box span.label {
	color: #4d4d4d
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .space {
	margin-top: 6px;
	margin-bottom: 4px
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top a.tag-link {
	display: inline-block;
	margin-right: 24px;
	color: #79a5e5;
	word-wrap: break-word;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top a.tag-link:hover {
	color: #86aee8
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top a.tag-link:active {
	color: #5c91df
}

main div.blog-content-box .article-header-box .article-header div.article-info-box .operating {
	position: absolute;
	top: 0;
	right: 0;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box .operating a.href-article-edit {
	color: #79a5e5;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box .operating a.href-article-edit#btnSuperDel {
	margin-left: 14px
}

main div.blog-content-box .article-header-box .article-header div.article-info-box .operating a.href-article-edit:hover {
	color: #86aee8
}

main div.blog-content-box .article-header-box .article-header div.article-info-box .operating a.href-article-edit:active {
	color: #5c91df
}

main div.blog-content-box .padding24 {
	padding-left: 24px;
	padding-right: 24px
}

main div.blog-content-box article {
	position: relative;
	padding-top: 16px;
}

main div.blog-content-box article .table-box {
	overflow-x: auto;
	margin-bottom: 24px;
}

main div.blog-content-box article .table-box table {
	margin-bottom: 0
}

main div.blog-content-box article * {
	word-wrap: break-word
}

main div.blog-content-box article img {
	cursor: -webkit-zoom-in;
	cursor: zoom-in
}

main div.blog-content-box article .article-copyright {
	font-size: 12px;
	color: #999;
	margin-bottom: 8px
}

main div.blog-content-box div.article-bar-bottom {
	padding-bottom: 16px;
	margin-top: 16px;
	border-bottom: 1px solid #e3e3e3;
	position: relative
}

main div.blog-content-box .article_info_click {
	margin-right: 0 !important;
	font-size: 12px;
	color: #3399ea;
	letter-spacing: 0;
	line-height: 20px;
	cursor: pointer;
	background-color: #fff;
	top: 0;
	right: 101px;
	width: 45px;
	display: inline-block
}

main div.blog-content-box div.article-ad {
	overflow: hidden;
	padding-top: 24px;
}

main div.blog-content-box div.article-ad>div {
	text-align: center
}

main div.blog-content-box div.related-article {
	margin-top: 18px;
	line-height: 28px;
	width: 48%;
	display: inline-block;
}

main div.blog-content-box div.related-article a:hover {
	color: #ca0c16;
}

main div.blog-content-box div.related-article a:hover span {
	border-color: #ca0c16;
	color: #ca0c16
}

main div.blog-content-box div.related-article.related-article-prev {
	margin-right: 16px;
}

main div.blog-content-box div.related-article.related-article-prev+.related-article-next {
	margin-top: 0
}

main div.blog-content-box div.related-article:last-child {
	margin-bottom: 0
}

main div.blog-content-box div.related-article>a>span {
	margin-right: 8px;
	padding: 6px 8px;
	font-size: 12px;
	border: 1px solid #e3e3e3;
	color: #4d4d4d
}

main .edu-promotion {
	margin-top: 8px;
	background: #fff;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05)
}

main .t0 {
	width: 100%;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 16px 24px;
}

main .t0 h4 {
	margin-bottom: 8px;
	font-size: 20px;
	line-height: 28px;
	color: #3d3d3d;
}

main .t0 h4 em {
	color: #ca0c16;
	font-style: normal
}

main .t0 .t0-img {
	float: left;
	width: 130px;
	margin-right: 32px
}

main .t0 .description {
	word-wrap: break-word;
	font-size: 14px;
	color: #999
}

.hide-article-pos {
	position: relative;
	z-index: 9999;
	padding-top: 160px;
	bottom: 2px;
	margin-top: -160px
}

.hide-article-style {
	padding-top: 0;
	margin-top: 0;
	background-color: #fff
}

div.hide-article-box {
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(70%, #fff));
	background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #fff 70%);
	padding-bottom: 6px;
}

div.hide-article-box .border {
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	width: 100%;
	height: 2px;
	margin-bottom: 10px
}

div.hide-article-box #btn-lobinreadmore {
	width: 121px;
	color: #3399ea;
	border: 1px solid #3399ea
}

div.hide-article-box .article-footer-btn {
	color: #ca0c16;
	border: 1px solid #ca0c16;
	font-size: 14px;
	line-height: 30px;
}

div.hide-article-box .article-footer-btn svg {
	width: 20px;
	height: 20px;
	vertical-align: middle
}

.markdown_views,
.markdown_views blockquote {
	word-break: break-word !important
}

.markdown_views pre>code.hljs {
	background-color: #f6f8fa
}

.markdown_views .hljs {
	display: block;
	padding: 8px
}

.markdown_views .hljs-comment,
.markdown_views .hljs-comment *,
.markdown_views .hljs-javadoc,
.markdown_views .hljs-template_comment {
	color: #800 !important
}

.markdown_views .clojure .hljs-built_in,
.markdown_views .hljs-keyword,
.markdown_views .hljs-list .hljs-title,
.markdown_views .hljs-request,
.markdown_views .hljs-status,
.markdown_views .hljs-tag .hljs-title,
.markdown_views .hljs-winutils,
.markdown_views .http .hljs-title,
.markdown_views .method,
.markdown_views .nginx .hljs-title,
.markdown_views .setting .hljs-value,
.markdown_views .tex .hljs-command {
	color: #008 !important
}

.markdown_views .hljs-envvar {
	color: #660 !important
}

.markdown_views .hljs-attr_selector,
.markdown_views .hljs-cdata,
.markdown_views .hljs-date,
.markdown_views .hljs-filter .hljs-argument,
.markdown_views .hljs-regexp {
	color: #080 !important
}

.markdown_views .clojure .hljs-attribute,
.markdown_views .css .hljs-function,
.markdown_views .css .hljs-value .hljs-number,
.markdown_views .hljs-decorator,
.markdown_views .hljs-hexcolor,
.markdown_views .hljs-literal,
.markdown_views .hljs-number,
.markdown_views .hljs-pi,
.markdown_views .hljs-prompt,
.markdown_views .hljs-shebang,
.markdown_views .hljs-sub .hljs-identifier,
.markdown_views .hljs-symbol,
.markdown_views .hljs-tag,
.markdown_views .hljs-tag .hljs-keyword,
.markdown_views .ini .hljs-title {
	color: #066 !important
}

.markdown_views .clojure .hljs-title,
.markdown_views .haskell .hljs-type,
.markdown_views .hljs-built_in,
.markdown_views .hljs-class .hljs-id,
.markdown_views .hljs-class .hljs-title,
.markdown_views .hljs-doctype,
.markdown_views .hljs-javadoctag,
.markdown_views .hljs-params,
.markdown_views .hljs-phpdoc,
.markdown_views .hljs-tag .hljs-attribute,
.markdown_views .hljs-typename,
.markdown_views .hljs-variable,
.markdown_views .hljs-yardoctag,
.markdown_views .setting {
	color: #4f4f4f !important
}

.markdown_views .css .hljs-tag,
.markdown_views .hljs-pseudo,
.markdown_views .hljs-rules .hljs-property {
	color: #000 !important
}

.markdown_views .css .hljs-class,
.markdown_views .css .hljs-id {
	color: #9b703f !important
}

.markdown_views .hljs-value .hljs-important {
	color: #f70 !important;
	font-weight: 700
}

.markdown_views .hljs-rules .hljs-keyword {
	color: #c5af75 !important
}

.markdown_views .apache .hljs-sqbracket,
.markdown_views .hljs-annotation,
.markdown_views .nginx .hljs-built_in {
	color: #9b859d !important
}

.markdown_views .tex .hljs-formula {
	background-color: #eee !important;
	font-style: italic
}

.markdown_views .diff .hljs-header,
.markdown_views .hljs-chunk {
	color: grey !important;
	font-weight: 700
}

.markdown_views .diff .hljs-change {
	background-color: #bccff9 !important
}

.markdown_views .hljs-addition {
	background-color: #baeeba !important
}

.markdown_views .hljs-deletion {
	background-color: #ffc8bd !important
}

.markdown_views .hljs-comment .hljs-yardoctag {
	font-weight: 700
}

.markdown_views .apache .hljs-cbracket,
.markdown_views .apache .hljs-tag,
.markdown_views .asciidoc .hljs-header,
.markdown_views .bash .hljs-variable,
.markdown_views .coffeescript .hljs-attribute,
.markdown_views .django .hljs-variable,
.markdown_views .erlang_repl .hljs-function_or_atom,
.markdown_views .haml .hljs-symbol,
.markdown_views .hljs-addition,
.markdown_views .hljs-aggregate,
.markdown_views .hljs-constant,
.markdown_views .hljs-flow,
.markdown_views .hljs-parent,
.markdown_views .hljs-pragma,
.markdown_views .hljs-preprocessor,
.markdown_views .hljs-preprocessor *,
.markdown_views .hljs-rules .hljs-value,
.markdown_views .hljs-rules .hljs-value .hljs-number,
.markdown_views .hljs-stream,
.markdown_views .hljs-string,
.markdown_views .hljs-tag .hljs-value,
.markdown_views .hljs-template_tag,
.markdown_views .hljs-title,
.markdown_views .markdown .hljs-header,
.markdown_views .ruby .hljs-symbol,
.markdown_views .ruby .hljs-symbol .hljs-string,
.markdown_views .smalltalk .hljs-class,
.markdown_views .tex .hljs-command,
.markdown_views .tex .hljs-special {
	color: #090 !important
}

.markdown_views .clojure .hljs-built_in,
.markdown_views .hljs,
.markdown_views .hljs-subst,
.markdown_views .hljs-tag .hljs-title,
.markdown_views .lisp .hljs-title,
.markdown_views .nginx .hljs-title {
	color: #4f4f4f !important
}

.markdown_views .apache .hljs-cbracket,
.markdown_views .apache .hljs-tag,
.markdown_views .asciidoc .hljs-header,
.markdown_views .bash .hljs-variable,
.markdown_views .coffeescript .hljs-attribute,
.markdown_views .django .hljs-variable,
.markdown_views .erlang_repl .hljs-function_or_atom,
.markdown_views .haml .hljs-symbol,
.markdown_views .hljs-addition,
.markdown_views .hljs-aggregate,
.markdown_views .hljs-constant,
.markdown_views .hljs-flow,
.markdown_views .hljs-parent,
.markdown_views .hljs-pragma,
.markdown_views .hljs-preprocessor,
.markdown_views .hljs-rules .hljs-value,
.markdown_views .hljs-rules .hljs-value .hljs-number,
.markdown_views .hljs-stream,
.markdown_views .hljs-string,
.markdown_views .hljs-tag .hljs-value,
.markdown_views .hljs-template_tag,
.markdown_views .hljs-title,
.markdown_views .markdown .hljs-header,
.markdown_views .ruby .hljs-symbol,
.markdown_views .ruby .hljs-symbol .hljs-string,
.markdown_views .smalltalk .hljs-class,
.markdown_views .tex .hljs-command,
.markdown_views .tex .hljs-special {
	color: #090 !important
}

.markdown_views .flow-chart [fill="#000"],
.markdown_views .flow-chart [fill="#000000"],
.markdown_views .flow-chart [fill=black],
.markdown_views .sequence-diagram [fill="#000"],
.markdown_views .sequence-diagram [fill="#000000"],
.markdown_views .sequence-diagram [fill=black] {
	fill: #4f4f4f
}

.markdown_views pre code {
	display: block;
	font-size: 14px;
	line-height: 22px;
	overflow-x: auto;
	padding: 0 !important;
	color: #000;
	white-space: pre;
	word-wrap: normal;
	background-color: #f6f8fa;
	border-radius: 4px
}

.markdown_views .prettyprint,
.markdown_views pre.prettyprint {
	margin: 0 0 24px;
	padding: 8px 16px 6px 56px;
	background-color: #f6f8fa;
	border: none
}

.prettyprint {
	position: relative;
	overflow-y: hidden;
	overflow-x: auto
}

.markdown_views .prettyprint .pre-numbering {
	position: absolute;
	width: 48px;
	background-color: #eef0f4;
	top: 0;
	left: 0;
	margin: 0;
	padding: 8px 0;
	list-style: none;
	text-align: right
}

.markdown_views .pre-numbering li {
	padding: 0 8px;
	list-style: none;
	margin: 0
}

.markdown_views.prism-atom-one-dark pre code {
	background-color: #282c34;
	color: #abb2bf
}

.markdown_views.prism-atom-one-dark pre code.hljs * {
	color: #abb2bf
}

.markdown_views.prism-atom-one-dark .prettyprint,
.markdown_views.prism-atom-one-dark .prettyprint .pre-numbering,
.markdown_views.prism-atom-one-dark pre.prettyprint {
	background-color: #282c34
}

.markdown_views.prism-atom-one-dark .pre-numbering li {
	color: #abb2bf !important;
	border-right: 1px solid #c5c5c5
}

.markdown_views.prism-atom-one-light .prettyprint,
.markdown_views.prism-atom-one-light .prettyprint .pre-numbering,
.markdown_views.prism-atom-one-light pre code,
.markdown_views.prism-atom-one-light pre.prettyprint {
	background-color: #fafafa
}

.markdown_views.prism-atom-one-light .pre-numbering li {
	color: #383a42 !important;
	border-right: 1px solid #c5c5c5
}

.markdown_views.prism-tomorrow-night pre code {
	background-color: #1d1f21;
	color: #c5c8c6
}

.markdown_views.prism-tomorrow-night pre code.hljs * {
	color: #c5c8c6
}

.markdown_views.prism-tomorrow-night .prettyprint,
.markdown_views.prism-tomorrow-night .prettyprint .pre-numbering,
.markdown_views.prism-tomorrow-night pre.prettyprint {
	background-color: #1d1f21
}

.markdown_views.prism-tomorrow-night .pre-numbering li {
	color: #c5c8c6 !important;
	border-right: 1px solid #c5c5c5
}

.markdown_views.prism-dracula pre code {
	background-color: #282a36;
	color: #f8f8f2
}

.markdown_views.prism-dracula pre code.hljs * {
	color: #f8f8f2
}

.markdown_views.prism-dracula .prettyprint,
.markdown_views.prism-dracula .prettyprint .pre-numbering,
.markdown_views.prism-dracula pre.prettyprint {
	background-color: #282a36
}

.markdown_views.prism-dracula .pre-numbering li {
	color: #f8f8f2 !important;
	border-right: 1px solid #c5c5c5
}

.markdown_views.prism-github-gist .prettyprint,
.markdown_views.prism-github-gist .prettyprint .pre-numbering,
.markdown_views.prism-github-gist pre code,
.markdown_views.prism-github-gist pre.prettyprint {
	background-color: #f3f4f5
}

.markdown_views.prism-github-gist .pre-numbering li {
	color: #5e6687 !important;
	border-right: 1px solid #c5c5c5
}

.markdown_views.prism-kimbie-light .prettyprint,
.markdown_views.prism-kimbie-light .prettyprint .pre-numbering,
.markdown_views.prism-kimbie-light pre code,
.markdown_views.prism-kimbie-light pre.prettyprint {
	background-color: #fbebd4
}

.markdown_views.prism-kimbie-light .pre-numbering li {
	color: #84613d !important;
	border-right: 1px solid #c5c5c5
}

.markdown_views.prism-tomorrow-night-eighties pre code {
	background-color: #2d2d2d;
	color: #ccc
}

.markdown_views.prism-tomorrow-night-eighties pre code.hljs * {
	color: #ccc
}

.markdown_views.prism-tomorrow-night-eighties .prettyprint,
.markdown_views.prism-tomorrow-night-eighties .prettyprint .pre-numbering,
.markdown_views.prism-tomorrow-night-eighties pre.prettyprint {
	background-color: #2d2d2d
}

.markdown_views.prism-tomorrow-night-eighties .pre-numbering li {
	color: #ccc !important;
	border-right: 1px solid #c5c5c5
}

.markdown_views.prism-atelier-sulphurpool-light .prettyprint,
.markdown_views.prism-atelier-sulphurpool-light .prettyprint .pre-numbering,
.markdown_views.prism-atelier-sulphurpool-light pre code,
.markdown_views.prism-atelier-sulphurpool-light pre.prettyprint {
	background-color: #f5f7ff
}

.markdown_views.prism-atelier-sulphurpool-light .pre-numbering li {
	color: #5e6687 !important;
	border-right: 1px solid #c5c5c5
}